<nav>
    <div class="site-title">
      <a href="/"><h1>Read with me</h1></a>
      <p>My review of books site</p>
    </div>
    <ul>
      <li><a href="/">Reviews</a></li>
      <li><a href="/about">About Me</a></li>
      <li><a href="/blogs/create">New Review</a></li>
    </ul>
  </nav>
  