<html lang="en">
<%- include("./partials/head.ejs") %>

<body>
  <%- include("./partials/nav.ejs") %>

  <div class="not-found content">
    Oops, it appears that the page you're looking for was not found. Try again. :)
  </div>

  <%- include("./partials/footer.ejs") %>
</body>
</html>
© 20