<html lang="en">
<%- include("./partials/head.ejs") %>

  <body>
    <%- include("./partials/nav.ejs") %>

      <div class="about content">
        <h2>About Me</h2>
        <p>My name is Kely, and I’m so happy you stopped by my blog!
          <br><br>
        </p>
        <p>
          I have loved books since I was 8 years old, after I received a copy of Twilight for my birthday. It only took
          me two days to finish it, and after that, I was hooked! I couldn’t get my hands on books fast enough, reading
          anything I could from the library.<br><br>
        </p>
        <p>
          You’ll often find me staying up until the wee hours of the morning to finish a book that can’t be put down.
        </p>

      </div>

      <%- include("./partials/footer.ejs") %>
  </body>

</html>